.welcome {
	@apply relative flex flex-col justify-center overflow-hidden py-48;

	@media (max-width: 1023px) {
		@apply py-24;
	}

	.info {
		@apply space-y-4;

		.bread {
			@apply flex items-center gap-2;

			> strong {
				@apply text-xl border-b-2 border-primary;
			}

			> span {
				@apply text-gray-600;
			}
		}

		.about {
			@apply space-y-4;

			> h1 {
				@apply text-4xl;

				> span {
					@apply text-primary;
				}
			}

			> p {
				@apply text-gray-600 text-lg;
			}
		}

		.action {
			@apply flex items-center gap-6;

			> div {
				@apply flex items-center gap-4;

				@media (max-width: 400px) {
					@apply hidden;
				}
			}

			.circle {
				@apply relative flex h-3 w-3;

				> div:first-child {
					@apply animate-ping absolute h-full w-full rounded-full bg-primary opacity-75;
				}

				> div:last-child {
					@apply rounded-full h-3 w-3 bg-primary;
				}
			}

			> p {
				@apply text-lg;

				> span {
					@apply font-bold;
				}
			}
		}
	}

	.films {
		@apply absolute right-0 top-0 h-full;

		@media (max-width: 1279px) {
			@apply hidden;
		}

		> div {
			@apply flex gap-9;
			transform: rotate(-30deg) translate(100px, -300px);

			> div:first-child {
				animation: move 80s infinite;
				animation-timing-function: linear;
			}

			> div:nth-child(2) {
				@apply mt-40;
				animation: move 30s infinite;
				animation-timing-function: linear;
			}

			> div:last-child {
				animation: move 50s infinite;
				animation-timing-function: linear;
			}

			img {
				@apply rounded-md space-y-4 my-16;
				width: 160px;
				height: 220px;
			}
		}
	}
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-200px);
	}
	100% {
		transform: translateY(0px);
	}
}
