.welcome {
  @apply relative flex flex-col justify-center overflow-hidden py-48;

  @media (max-width: 1023px) {
    @apply py-10;
  }

  @media (max-width: 640px) {
    @apply px-4;
  }

  .info {
    @apply space-y-4;

    .bread {
      @apply flex items-center gap-2;

      > strong {
        @apply text-xl border-b-2 border-primary;
      }

      > span {
        @apply text-gray-600;
      }
    }

    .about {
      @apply space-y-4;

      > h1 {
        @apply text-4xl;

        > span {
          @apply text-primary;
        }
      }

      > p {
        @apply text-gray-600 text-lg;
      }
    }

    .action {
      @apply flex items-center gap-6;

      > div {
        @apply flex items-center gap-4;

        @media (max-width: 400px) {
          @apply hidden;
        }
      }
    }
  }

  .films {
    @apply absolute right-0 top-0 h-full;

    @media (max-width: 1279px) {
      @apply hidden;
    }

    > div {
      @apply flex gap-9;
      transform: rotate(-30deg) translate(100px, -150px);

      > div:first-child {
        animation: move 60s infinite;
      }

      > div:nth-child(2) {
        @apply mt-40;
        animation: move 60s infinite;
      }

      > div:last-child {
        animation: move 60s infinite;
      }

      a {
        @apply block mb-8;
      }

      img {
        @apply rounded-md space-y-4 my-16;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(-150px);
  }
}
