.films {
	@apply flex flex-col items-end;

	@media (max-width: 551px) {
		@apply items-center;
	}

	.container {
		@apply grid w-full;
		grid-template-columns: repeat(6, 1fr);

		@media (max-width: 1536px) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media (max-width: 1280px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (max-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 450px) {
			grid-template-columns: 1fr;
		}

		> article {
			@apply mb-8;
		}
	}
}
