.grid {
	@apply flex flex-col items-end gap-6;

	.container {
		@apply w-full gap-6;
		display: grid;
		grid-template-columns: repeat(6, 1fr);

		@media (max-width: 1535px) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media (max-width: 1279px) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (max-width: 1023px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 767px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 449px) {
			grid-template-columns: 1fr;
		}

		> article {
			@apply mb-8;
		}

		> a > article {
			@apply mx-auto;
		}
	}

	@media (max-width: 551px) {
		@apply items-center;
	}
}
