.ongoing_film {
	@apply flex gap-4;

	@media (max-width: 767px) {
		@apply w-full;
	}

	@media (max-width: 460px) {
		@apply flex-col items-center;
	}

	> a, img {
		@apply object-cover rounded-md;
		width: 180px;
		height: 248px;
	}

	> div {
		@apply flex flex-col gap-2 justify-between items-start w-2/4;
		@media (max-width: 460px) {
			@apply justify-start gap-6 items-center;
		}

		> h3 {
			@apply text-lg font-bold;
			height: 30%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;

			@media (max-width: 460px) {
				@apply text-center;
			}
		}

		.genres {
			height: 25%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;

			@media (max-width: 460px) {
				@apply hidden;
			}

			> span:last-child {
				@apply text-primary-light;
			}
		}

		.ages {
			height: 40%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			@media (max-width: 460px) {
				@apply hidden;
			}

			> span {
				@apply font-bold;
			}
		}
	}

	@media (max-width: 424px) {
		> a, img {
			@apply rounded-b-none;
			width: 75px;
			height: 110px;
		}

		> div > h3 {
			@apply text-xs;
			height: 100%;
			-webkit-line-clamp: 4;
		}

		button {
			@apply hidden;
		}
	}
}
